* {
    margin: 0px; 
    box-sizing: border-box;
}

:root{ 
    --bg : white;
    --bg-side-line : #37c9ef;
    --bg-slide-bar: rgba(0,0,0,0.05);
    --bg-right-panel: white;

    --bg-circle-icon: #c7d0d8;
    --box-shadow: 1px 1px 10px rgb(185, 185, 185);
}

body{ 
    
}

.main-page {
    /* background-color: red; */
    height: 100vh;
    display: flex;
}

.slide-line{
    background-color: var(--bg-side-line);
    height: 100%;
    width: 25px;
}

.slide-bar {
    background-color: var(--bg-slide-bar);
    height: 100%;
    width: 15%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 0;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(185, 185, 185);
}
.circle{ 
    height: 75px;
    width: 75px;
    background-color: var(--bg-circle-icon);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle.blue{ 
    background-color: var(--bg-side-line);
}

.right-panel{ 
    background-color: var(--bg-right-panel);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* header */
.header{ 
    background-color: var(--bg-side-line);
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    box-shadow: var(--box-shadow);
}

.logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
}

.header h1 {
    font-family: "Cairo", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}


.tablet-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.tablet-container #table-image{ 
    position: absolute;
    z-index: 2;
}